<div class="panels">
	<div class="panel-w-6 panel">
		<div class="title center panel-row">FAQ</div>
		<div class="left panel-row"><label><b>Why does the website contain other than just BTC addresses?</b></label></div>
		<div class="left content panel-row">The website uses data gathered by a companion app which visits multiple urls and collects relevant information about cryptocurrency addresses. Some sources contain not just BTC addresses so in order to keep as much useful information as possible it is better to keep other cryptocurrency addresses as well.</div>
		<div><hr></div>
		<div class="left panel-row"><label><b>Are there any API restrictions?</b></label></div>
		<div class="left content panel-row">Yes. API has certain use count limitations which gets reset after certain amount of time.</div>
		<div><hr></div>
		<div class="left panel-row"><label><b>Why does the website have so many currencies and resources when some of them do not even contain a single address?</b></label></div>
		<div class="left content panel-row">The website uses all cryptocurrencies supported by <a href="https://blockchair.com">blockchair.com</a> if by any chance any of them was in some source. LoyceV is the only source that will never contain a single address because it is used for getting a list of all addresses on the Bitcoin blockchain. This source does not contain any other data so it is not connected to any of the addresses even though literally all BTC addresses were taken from there. If any other source contains no addresses it is because it hasn't been crawled yet or there was an error during crawling.</div>
		<div><hr></div>
		<div class="left panel-row"><label><b>Who and why made this website?</b></label></div>
		<div class="left content panel-row">This website was developed by Bc. Adam Šárek as one of the pair of tools for a purpose of a master thesis.</div>
	</div>
</div>