<link rel="icon" href="/src/img/logo.svg" type="image/svg+xml">
<link rel="stylesheet" href="src/css/styles.css">
<title><%= typeof page !== 'undefined' && typeof page.title !== 'undefined' ? page.title + ' - ' + title : title %></title>