<div class="panels">
	<div class="panel-w-3 panel">
		<div class="title center panel-row">Account</div>
		<div class="left panel-row"><label>Email</label></div>
		<div class="content left panel-row"><%= account.email %></div>
		<div class="left panel-row"><label>Signed up</label></div>
		<div class="content left panel-row"><%= (new Date(account.signed_up_at)).toLocaleString() %></div>
		<div class="left panel-row"><label>Last signed in</label></div>
		<div class="content left panel-row"><%= (new Date(account.last_signed_in_at)).toLocaleString() %></div>
		<div class="left panel-row"><label>Role</label></div>
		<div class="content left panel-row"><%= account.role_name %></div>
		<div><hr></div>
		<% if(typeof account !== 'undefined' && account.role_id > 3) { %>
			<div class="left panel-row"><label><a href="/accounts">Accounts</a></label></div>
		<% } %>
		<div class="left panel-row"><label><a href="/sign-out">Sign out</a></label></div>
	</div>
</div>