<div class="panels-w-3 panels">
	<form class="panel" method="POST">
		<div class="title center panel-row">Change password</div>
		<div class="error center panel-row"><%= typeof form !== 'undefined' && typeof form._error !== 'undefined' ? form._error : '' %></div>
		<div class="left panel-row"><label for="current_password">Current password</label></div>
		<div class="panel-row"><input class="input" name="current_password" type="password" placeholder="Current password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required autofocus></div>
		<div class="error left panel-row"><%= typeof form !== 'undefined' && typeof form.current_password !== 'undefined' && typeof form.current_password.error !== 'undefined' ? form.current_password.error : '' %></div>
		<div class="left panel-row"><label for="password">Password</label></div>
		<div class="panel-row"><input class="input" name="password" type="password" placeholder="Password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required></div>
		<div class="error left panel-row"><%= typeof form !== 'undefined' && typeof form.password !== 'undefined' && typeof form.password.error !== 'undefined' ? form.password.error : '' %></div>
		<div class="left panel-row"><label for="confirm_password">Confirm password</label></div>
		<div class="panel-row"><input class="input" name="confirm_password" type="password" placeholder="Confirm password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required></div>
		<div class="error left panel-row"><%= typeof form !== 'undefined' && typeof form.confirm_password !== 'undefined' && typeof form.confirm_password.error !== 'undefined' ? form.confirm_password.error : '' %></div>
		<div class="center panel-row"><input class="button" type="submit" value="Change password"></div>
	</div>
</div>