<div class="panels">
	<form class="panel-w-3 panel" method="POST">
		<div class="title center panel-row">Reset password</div>
		<%- typeof form !== 'undefined' && typeof form._error !== 'undefined' ? '<div class="error center panel-row">' + form._error + '</div>' : '' %>
		<div class="left panel-row"><label for="email">Email</label></div>
		<div class="panel-row"><input class="input" name="email" type="email" placeholder="Email" value="<%= typeof form !== 'undefined' && typeof form.email !== 'undefined' && typeof form.email.data !== 'undefined' ? form.email.data : '' %>" maxlength="128" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required autofocus></div>
		<%- typeof form !== 'undefined' && typeof form.email !== 'undefined' && typeof form.email.error !== 'undefined' ? '<div class="error left panel-row">' + form.email.error + '</div>' : '' %>
		<div class="center panel-row"><input class="button" type="submit" value="Reset password"></div>
	</form>
</div>