<!doctype html>
<html lang="en">
	<head><%- include('../partials/head'); %></head>
	<body>
		<div class="container <%= typeof page !== 'undefined' && typeof page.title !== 'undefined' ? 'container-stable' : '' %>">
			<%- include('../partials/header'); %>
			<main>
				<!--eeee
				<br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr>
				<br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr>
				<br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr><br><hr>-->
			</main>
		</div>
	</body>
</html>