<div class="panels">
	<form class="panel-w-3 panel" method="POST">
		<div class="title center panel-row">Reset password</div>
		<%- typeof form !== 'undefined' && form._error.length > 0 ? '<div class="error content center panel-row">' + form._error + '</div>' : '' %>
		<div class="left panel-row"><label for="password">Password</label></div>
		<div class="panel-row"><input class="input" name="password" type="password" placeholder="Password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required></div>
		<%- typeof form !== 'undefined' && typeof form.password !== 'undefined' && form.password.error.length > 0 ? '<div class="error content left panel-row">' + form.password.error + '</div>' : '' %>
		<div class="left panel-row"><label for="confirm_password">Confirm password</label></div>
		<div class="panel-row"><input class="input" name="confirm_password" type="password" placeholder="Confirm password" minlength="8" maxlength="128" pattern="^(?=.*[0-9])(?=.*[.!@#$%^&'*+/=?^_`{|}~-])[a-zA-Z0-9.!@#$%^&'*+/=?^_`{|}~-]*$" required></div>
		<%- typeof form !== 'undefined' && typeof form.confirm_password !== 'undefined' && form.confirm_password.error.length > 0 ? '<div class="error content left panel-row">' + form.confirm_password.error + '</div>' : '' %>
		<div class="center panel-row"><input class="button" type="submit" value="Reset password"></div>
	</form>
</div>