<div class="panels-w-3 panels">
	<form class="panel" method="POST">
		<div class="title center panel-row">Reset password</div>
		<div class="left panel-row"><label for="password">Password</label></div>
		<div class="panel-row"><input class="input" name="password" type="password" placeholder="Password" autofocus></div>
		<div class="left panel-row"><label for="confirm_password">Confirm password</label></div>
		<div class="panel-row"><input class="input" name="confirm_password" type="password" placeholder="Confirm password"></div>
		<div class="center panel-row"><input class="button" type="submit" value="Reset password"></div>
	</div>
</div>