<div class="panels-w-3 panels">
	<form class="panel" method="POST">
		<div class="title center panel-row">Sign in</div>
		<div class="left panel-row"><label for="email">Email</label></div>
		<div class="panel-row"><input class="input" name="email" type="email" placeholder="Email"></div>
		<div class="left panel-row"><label for="password">Password</label></div>
		<div class="panel-row"><input class="input" name="password" type="password" placeholder="Password"></div>
		<div class="center panel-row"><input class="button" type="submit" value="Sign in"></div>
		<div><hr></div>
		<div class="left panel-row"><label>Forgot your password?</label></div>
		<div class="left panel-row"><a href="/forgotten-password">Reset password</a></div>
		<div class="left panel-row"><label>Don't have an account?</label></div>
		<div class="left panel-row"><a href="/sign-up">Sign up</a></div>
	</div>
</div>